<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>服务详细-欢聚网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../css/common/mui.min.css">
	<link rel="stylesheet" href="../css/common/mui.extra.css">
	<link rel="stylesheet" href="../css/common/icons-extra.css">
	<link rel="stylesheet" href="../css/common/share.css">
	<link rel="stylesheet" href="../css/common/common.css">
	<style>
		.mui-table-view:before,
		.mui-table-view:after {
			background: none !important;
		}
	</style>
</head>

<body class="cj-bg-light-grey">
	<header class="mui-bar mui-bar-nav mui-white-nav-bar">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title" id="addCollect">主题标题</h1>
		<span onclick="_system._guide(true)" class="cj-margin-top-10 mui-icon-extra mui-icon-extra-share mui-pull-right"></span>
		<a class="cj-margin-top-10 mui-icon-extra mui-icon-extra-heart mui-pull-right"></a>
	</header>

	<!--下拉刷新容器-->
	<div id="pullrefresh" class="mui-content cj-bg-light-grey mui-scroll-wrapper mui-content-phone cj-car-scroll">
		<div class="mui-scroll">

			<div id="info">
			</div>
			<div class="cj-line-20"></div>
			<!--数据列表-->
			<ul class="mui-table-view mui-content-padded">
				<a id="discussLink" href="/discuss/publish?">
					<li class="mui-table-view-cell">用户评价<span class="mui-badge">发表评价</span></li>
				</a>
			</ul>
			<ul class="mui-table-view mui-content-padded" id="cardContainer">
			</ul>
		</div>
	</div>

	<nav class="mui-bar mui-bar-tab mui-bar-footer">
		<div class="mui-row">
			<div class="mui-col-sm-6 mui-col-xs-6 mui-bar-div">
				<button style="top:0;" type="button" onclick="alert(123)" class=" mui-btn-block ">微信咨询</button>
			</div>
			<div class="mui-col-sm-6 mui-col-xs-6">
				<button style="top:0;" type="button" id="addCar" class="mui-btn-primary mui-btn-block ">加入清单</button>
			</div>
	</nav>
	<div id="cover"></div>
	<div id="guide"><img src="/img/share.png"></div>
	<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
	<script id="cardTpl" type="text/html">
		<% for(var i=0;i<result.length;i++){ %>
			<li class="mui-table-view-cell mui-media">
				<img class="mui-media-object mui-pull-left cj-commit-detail-img" src="../img/icon-1.png">
				<div class="mui-media-body">
					<p class='mui-ellipsis'>
						<p class='mui-ellipsis' style="font-size:12px;" style="width:100%" ;>
							<span><%==result[i].user.nickname %>&nbsp;&nbsp;<%==result[i].ctime%>&nbsp;</span>
						</p>
					</p>
				</div>
				<p class="cj-line-10"></p>
				<p class="cj-line-height-30 cj-text-size-12">
					<%==result[i].content%>
				</p>
			</li>
			<% } %>
	</script>
	<script id="infoTpl" type="text/html">
		<%if(result.imgs.length>0){%>
			<div class="mui-content cj-bg-light-grey">
				<div id="slider" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
									<img src="<%==result.imgs[result.imgs.length-1].imgUrl%>">
								</a>
						</div>

						<% for(var i=0;i<result.imgs.length;i++){ %>
							<div class="mui-slider-item">
								<a href="#">
									<img src="<%==result.imgs[i].imgUrl%>">
								</a>
							</div>
							<%}%>

								<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="#">
								<img src="<%==result.imgs[result.imgs.length-1].imgUrl%>">
								</a>
								</div>

					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
					</div>

				</div>
			</div>
			<%}%>
				<ul class="mui-table-view" style="margin-top:0px;">
					<li class="mui-table-view-cell">
						<div class="mui-row">
							<div class="mui-col-sm-10 mui-col-xs-10">
								<%
							if(result.type=="达人服务"){
								var img = "../img/icon-2.png";
							}else if(result.type=="包车服务"){
								var img = "../img/icon-8.png";
							}else if(result.type=="餐饮服务"){
								var img = "../img/icon-6.png";
							}
						%>
									<img class="mui-pull-left" src="<%==img%>" width="40px" />
									<div class="mui-pull-left">
										<p style="font-size:12px;">&nbsp;
											<%==result.type%>
										</p>
										<p class="cj-serives-title">&nbsp;
											<%==result.title%>
										</p>
									</div>
							</div>
							<div class="mui-col-sm-2 mui-col-xs-2 mui-pull-right">
								<p class="cj-serives-price">￥
									<%==result.price%>
								</p>
							</div>
						</div>
					</li>
				</ul>
				<!-- 别墅介绍 -->
				<div>
					<p class="mui-text-center cj-line-height-30 cj-margin-bottom-0">
						<span class="mui-icon mui-icon-minus cj-text-size-16"></span> &nbsp;服务详细
					</p>
					<div class="cj-bg-white cj-padded-10 cj-content-card" style="max-height:100px;" data-height="100px">
						<p class="mui-text-center">
							<%==result.details%>
						</p>
					</div>
					<div class="cj-bg-white mui-text-center ">
						<button type="button" class="mui-btn mui-min-bth cj-margin-tb-10 btn-more ">更多</button>
					</div>
				</div>
				<div>
					<p class="mui-text-center cj-line-height-30 cj-margin-bottom-0">
						<span class="mui-icon mui-icon-minus cj-text-size-16"></span> &nbsp;注意事项
					</p>
					<div class="cj-bg-white cj-padded-10 cj-content-card" style="max-height:100px;" data-height="100px">
						<p class="mui-text-center">
							<%==result.notes%>
						</p>
					</div>
					<div class="cj-bg-white mui-text-center ">
						<button type="button" class="mui-btn mui-min-bth cj-margin-tb-10 btn-more ">更多</button>
					</div>
				</div>
				<div>
	</script>
	<script src="../js/common/template-web.js"></script>
	<script src="../js/common/mui.min.js"></script>
	<script src="../js/common/mui.href.js"></script>
	<script src="../js/common/common.js"></script>
	<script src="../js/common/jquery.min.js"></script>
	<script src="../js/common/share.js"></script>
	<script src="../js/common/public.js"></script>
	<script src="../js/service/detail.js"></script>

</body>

</html>
