<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>达人分享-欢聚网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../css/common/mui.min.css">
	<link rel="stylesheet" href="../css/common/mui.extra.css">
	<link rel="stylesheet" href="../css/common/common.css">
</head>

<body class="cj-bg-light-grey">
	<header class="mui-bar mui-bar-nav mui-white-nav-bar">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">发表评价</h1>
		<button class="mui-btn  mui-btn-link mui-pull-right" id="add" >发表</button>
	</header>
	<div class="mui-content cj-bg-light-grey">
		<textarea id="content" rows="5" placeholder="内容"></textarea>
	</div>
	<div class="cj-line-30"></div>
	<div class="cj-line-30"></div>
	<div class="cj-line-30"></div>
	<div id="footer"></div>

	</script>
	<script src="../js/common/template-web.js"></script>
	<script src="../js/common/mui.min.js"></script>
	<script src="../js/common/mui.href.js"></script>
	<script src="../js/common/common.js"></script>
	<script src="../js/discuss/publish.js"></script>
	<script src="../js/common/footer.js"></script>
	<script>

	</script>
</body>

</html>
